<!-- <nav class="navbar navbar-dark bg-dark"> -->
<nav class="navbar navbar-light bg-dark">
  <!-- <a class="navbar-brand" href="#">Barcode Generator</a> -->
  <a class="navbar-brand" href="#"><img src="assets/images/dooplogo.png" height="40" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style="padding-top: 2em">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Barcode Generator
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  Barcode Master
                </div>
                <div class="card-body">
                  <div class="col-12">
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-3" [hidden]="true">
                          <label for="size">Type</label>
                          <select class="form-control form-control-md" id="type">
                            <option value="Box" selected>Box</option>
                            <option value="Pallet">Pallet</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="size">Select Size</label>
                          <select class="form-control form-control-md" id="size">
                            <!-- <option value="4X2">4X2</option> -->
                            <option value="4X4">4X4</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="bprefix">Prefix</label>
                          <input class="form-control" id="bprefix" value=""/>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="blength">Barcode Length (Mask) </label>
                          <input type="number" class="form-control" id="blength" value="3">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="orderno">Order Number</label>
                          <input type="number" class="form-control" id="orderno" name="orderno" required value="">
                        </div>
                        <div class="form-group col-md-3">
                          <label for="qty">Box Quantity</label>
                          <input type="number" class="form-control" id="qty" min="1" value="1" required>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <a href="javascript:void(0)" class="btn btn-primary form" style="font-size: 80%" (click)="ResetAll()"><span><i
                              class="fa fa-undo"></i></span> Reset Values</a>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-xs-12">
                        <a href="javascript:void(0)" class="btn btn-primary" style="font-size: 80%" (click)="GenerateBarcodes()"><span><i
                              class="fa fa-file-pdf" aria-hidden="true"></i></span> Generate Barcode</a>
                      </div>
                      <div class="col-lg-2 col-sm-12 col-xs-12" *ngIf="barcodes.length > 0">
                        <a href="javascript:void(0)" class="btn btn-primary" style="font-size: 80%"  (click)="PrintAll()"><span><i
                              class="fa fa-file-pdf" aria-hidden="true"></i></span> Print Barcode PDF</a>
                      </div>
                      <div class="col-lg-2 col-sm-12 col-xs-12" *ngIf="barcodes.length > 0">
                        <a href="javascript:void(0)" class="btn btn-primary" style="font-size: 80%" (click)="ExportAll()"><span><i
                              class="fa fa-file-excel" aria-hidden="true"></i></span> Export Barcode CSV</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- <div class="col-12" style="padding-top: 1em">
              <div class="card">
                <div class="card-header">
                  Generated Barcodes
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table" *ngIf="barcodes.length > 0">
                        <thead>
                          <tr>
                            <th>BarCode</th>
                            <th>Packaging Type</th>
                            <th>Size</th>
                            <th>Created By</th>
                            <th>Created On</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of barcodes">
                            <td>{{ item.code}}</td>
                            <td>{{ item.type}}</td>
                            <td>{{ item.size}}</td>
                            <td>{{ item.createdBy}}</td>
                            <td>{{ item.createdDateTimeStamp.toLocaleString() }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>


                  </div>
                </div>
              </div>
            </div> -->

            <div class="col-12" style="padding-top: 1em">
              <div class="card">
                <div class="card-header">
                  Preview Barcodes
                </div>
                <div class="card-body">
                  <!-- <div class="row">
                      <div class="col-3" *ngFor="let item of barcodes">
                        <div style='text-align: center;'>
                          <img alt='Barcode Generator TEC-IT'
                            src='{{item.url}}' />
                        </div>
                      </div>
                    </div> -->

                  <div id="contentToConvert">
                    <div class="row">
                      <div class="col-12" *ngFor="let item of barcodes" style="padding-top: 0.5em">
                        <div id="{{item.code}}">
                          <div style='text-align: center;'>
                            <!-- style="display: none" insert your custom barcode setting your data in the GET parameter "data" -->
                            <img alt='Barcode Generator TEC-IT' src='{{item.url}}' />
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<img id="imageid" src="" style="display: none" />