.btn-primary {
    background-color: #00a298!important;
    border-color: #00a298!important;
    color: #fff!important;
    margin-bottom: 1em;
}

.btn-primary:hover {
    color: #00a298!important;
    border-color: #00a298!important;
    background-color: #fff!important;
}
